et-xmlfile==1.0.1
jdcal==1.4
numpy==1.15.2
openpyxl==2.5.4
pandas==0.23.4
pyexcel==0.5.8
pyexcel-io==0.5.7
pyexcel-xlsx==0.5.6
python-dateutil==2.7.3
pytz==2018.4
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
sklearn==0.0
texttable==1.4.0
tensorboard==1.11.0
tensorflow==1.11.0
h5py==2.8.0
Flask==1.0.2
flask-restplus==0.11.0
xlrd==1.1.0
XlsxWriter==1.0.5
gensim==3.5.0